{# empty Twig template #}
{% extends sonata_block.templates.block_base %}

{% block block %}
    <h1>Welcome to my admin bundle example.</h1>
    
    <p>To the left of the screen you will see a menu that will allow you to configure the website.  If you have any questions feel free to email me at glaserpower@gmail.com</p>
{% endblock %}