<td class="sonata-ba-list-field sonata-ba-list-field-text">
    <a class="btn btn-sm btn-warning" href="{{ admin.generateObjectUrl('reset_password', object) }}"><i class="glyphicon glyphicon-repeat"></i></a>
</td>